/* Footer
========================================================================== */
.main-footer{
    margin-top: 220px;
    background-color: #f4f6f9;
    .al-container{
        padding: 90px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        row-gap: 30px;
        .collum-footer{
            @media screen and(max-width: 1300px) {
                padding: 0 40px;
            }
            &:first-child{
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                row-gap: 0px;
                column-gap: 0px;
                max-width: 100%;
                padding-right: 72%;
                @media screen and(max-width: 1300px) {
                    padding: 0 40px;
                    column-gap: 500px;
                    a{
                        max-width: 350px;
                        text-align: center;
                    }
                }
                @media screen and(max-width: 800px) {
                    justify-content: center;
                }
                a{
                    padding: 0;
                }
            }
            max-width: 350px;
            display: flex;
            flex-wrap: wrap;
            img{
                object-fit: contain;
            }
            a{
                font-size: 17px;
                line-height: 24px;
                color: #353535;
                font-weight: 400;
                transition: all .3s;
                font-family: "Montserrat";
                &:hover{
                    color: #295181;
                }
            }
            a+a{
                padding: 70px 0;
            }
            .footer-title{
                font-size: 22px;
                line-height: 31px;
                color: #353535;
                font-weight: 800;
                font-family: "Montserrat";
                padding-bottom: 25px;
            }
            .lista-links{
                li{
                    a{
                        padding: 0;
                        font-size: 22px;
                        line-height: 31px;
                        color: #353535;
                        font-weight: 600;
                        font-family: "Montserrat";
                    }
                }
                li:hover{
                    a{
                        color: #295181;
                    }
                }
            }
        }
        .marca-collum{
            display: block;
            margin-left: 180px;
            max-width: 500px;
            .marcas{
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                column-gap: 120px;
                @media screen and(max-width:800px){
                    column-gap: 400px;
                    row-gap: 20px;
                }
                .marca{
                    .nome{
                        font-size: 22px;
                        line-height: 31px;
                        color: #353535;
                        font-weight: 600;
                        font-family: "Montserrat";
                        align-items: center;
                        display: flex;
                        img{
                            height: 15px;
                            width: 15px;
                        }
                    }
                    .open{
                        display: block;
                        h3, ul li{
                            font-size: 14px;
                            line-height: 31px;
                            color: #353535;
                            font-weight: 500;
                            font-family: "Montserrat";
                        }
                        ul{
                            li{
                                a{
                                    padding: 0;
                                    img{
                                        height: 22px;
                                        width: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}