/* Header
========================================================================== */
.main-header{
    max-height: 160px;
    .al-container{
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .traducoes{
            position: absolute;
            left: auto;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            .switcher-popup{
                span{
                    display: none;
                }
                span+span{
                    display: block;
                    display: flex;
                    justify-content: center;
                    margin-right: 0!important;
                }
            }
        }
    }
}
@media screen and(max-width: $container) {
    .main-header{
        .al-container{
            flex-wrap: wrap;
            .traducoes{
                position: relative;
                width: 100%;
                left: unset;
                right: unset;
                top: unset;
                display: flex;
                justify-content: center;
                .switcher-popup{
                    span{
                        display: none;
                    }
                    span+span{
                        display: block;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}