/* Home
========================================================================== */
.nturl{
    &.selected{
        display: none;
    }
}
.banner{
    position: relative;
    max-height: 980px;
    overflow: hidden;
}
.banner-mobile{
    position: relative;
    max-height: 600px;
    overflow: hidden;
    display: none;
}
.detalhe{
    position: absolute;
    right: 0; 
    transform: translateY(-35%);
    z-index: 9999;
    &.d-left{
        left: 0;
        right: auto; 
        transform: translate(-50%, -35%);
    }
}
.descricao{
    padding: 140px 0;
    .al-container{   
        .texto{
            font-size: 19px;
            line-height: 27px;
            color: #393939;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: left;
            p{
                padding: 15px 0;
            }
        }
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 100px;
            .card{
                width: calc(($container - 60px)/3);
                height: 259px;
                .back, .front{
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    background-color: #a3b2d5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: all 1s;
                }
                .back{
                    margin-top: -259px;
                	transform: rotateY(180deg);
                }
                .title{
                    font-size: 40px;
                    line-height: 50px;
                    color: #0a2d82;
                    font-weight: 600;
                    font-family: "Montserrat";
                }
                .texto{
                    font-size: 19px;
                    line-height: 27px;
                    color: #393939;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    padding: 30px;
                    li{
                        padding-top: 10px;
                    }
                }   
                &:hover{
                    .front{
                        transform: rotateY(180deg);
                    }
                    .back{
                        transform: rotateY(0deg);
                    }
                }
            }
        }
    }
}
.midle-banner{
    background-image: url("./assets/images/midle-banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 360px;
    display:flex;
    align-items: center;
    .al-container{
        .texto{
            font-size: 39px;
            line-height: 55px;
            color: #ffffff;
            font-weight: 600;
            font-family: "Montserrat";
            max-width: calc($container/2);
        }
    }
}
.marcas{
    padding: 125px 0;
    #marcas-slider, #marcas-mobile-slider{
        width: $container;
        height: auto!important;
        margin:auto;
        li{
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            padding: 0 30px;
            .texto{
                padding-top: 80px;
                font-size: 15px;
                line-height: 20px;
                color: #353535;
                font-weight: 400;
                text-align: justify;
                font-family: "Montserrat";
                min-height: 230px;
                transition: all .3s;
            }
            .logo{
                height: 45px; 
                width: 100%;
                object-fit: contain;
            }
            .leia-mais{
                padding: 15px 0;
                font-size: 22px;
                line-height: 29px;
                color: #254b8f;
                font-weight: 600;
                font-family: "Montserrat";
                margin-right: auto;
                transition: all .3s;
                width: 100%;
                &:hover{
                    color: #000;
                }
            }
            .links{ 
                padding: 20px 0;
                margin-right: auto;
                display: flex;
                column-gap: 5px;
                a{
                    li{
                        transition: all .3s;
                        display: flex;
                        padding: 0;
                        width: auto;
                        font-size: 10px;
                        line-height: 12px;
                        color: #000000;
                        font-weight: 600;
                        font-family: "Montserrat";
                        img{
                            height: 28px;
                            width: 28px;
                            transition: all .3s;
                        }
                        &:hover{
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}
.lSAction{
    .lSPrev{
        left: 0!important;
    }
    .lSNext{
        right: -13px!important;
    }
}
.under-banner{
    background-image: url("./assets/images/under-banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 473px;
    display:flex;
    align-items: center;
    .al-container{
        display: flex;
        .right{
            margin-left: auto;
            margin-right: 30px;
            padding: 0 40px;
            .title{
                padding-bottom: 50px;
                font-size: 38px;
                line-height: 47px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Montserrat";
            }
            .texto{
                font-size: 19px;
                line-height: 27px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Montserrat";
            }
        }
    }
}
.lideranca-banner{
    background-color: #1c387f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 473px;
    display:flex;
    align-items: center;
    .al-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .title{
            font-size: 100px;
            line-height: 54px;
            color: #FFF;
            font-weight: 600;
            font-family: "Montserrat";
            text-transform: uppercase;
            text-align: center;
        }
    }
}
.org{
    padding: 60px 0;
    .al-container{
        .title{
            font-size: 28px;
            line-height: 54px;
            color: #295181;
            font-weight: 600;
            font-family: "Montserrat";
            text-align: center;
            text-transform: uppercase;
        }
    }
}
.wpda_tree_item_img_cont {
    width: 200px!important;
    height: 200px!important;
    padding: 40px!important;
}
.wpda_tree_item_desc{
    img{
        margin-top: 10px;
        width: 30px;
    }
}
.lideranca-texto{
    padding: 20px 0;
    .al-container{
        .title{
            padding: 40px 0;
            font-size: 28px;
            line-height: 54px;
            color: #295181;
            font-weight: 600;
            font-family: "Montserrat";
            text-align: center;
            text-transform: uppercase;
        }
        .texto{
            font-size: 19px;
            line-height: 27px;
            color: #393939;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: center;
        }
    }
}
.depoimentos{
    padding: 100px 0;
    &:after{
        background-image: url("./assets/images/after-detail.webp");
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 100%;
        width: 245px;
        position: absolute;
        top: 65%;
        right: 0;
    }
    &:before{
        background-image: url("./assets/images/before-detail.webp");
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 100%;
        width: 245px;
        position: absolute;
        top: 0%;
        right: auto;
    }
    .title{
        font-size: 38px;
        line-height: 54px;
        color: #295181;
        font-weight: 600;
        font-family: "Montserrat";
        text-align: center;
    }
    #depoimentos-slider, #depoimentos-mobile-slider{
        width: $container;
        height: auto!important;
        margin:auto;
        li{
            padding: 55px 40px;
            font-size: 21px;
            line-height: 27px;
            color: #393939;
            font-weight: 400;
            font-family: "Montserrat";
            width: calc(($container - 280px)/3);
            .texto{
                min-height: 200px;
            }
            .perfil{
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 50%;
                    height: 140px;
                    width: 140px;
                }
                .texto{
                    max-width: 140px;
                    margin-left: 20px;    
                    min-height: unset!important;
                    .nome{
                        font-weight: 700;
                    }
                    .cargo{
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
#marcas-mobile-slider, #depoimentos-mobile-slider{
    display: none;
}
#depoimentos-mobile-slider{
    li{
        .texto{
            text-align: center;
        }
    }
}
@media screen and(max-width: 480px) {
    .banner{
        display: none;
    }
    .banner-mobile{
        display: block;
    }
}
@media screen and(max-width: calc($container)) {
    .lideranca-banner{
        .al-container{
            .title{
                font-size: 40px;
            }
        }
    }
    .lideranca-texto{
        padding: 0 20px;
    }
    .detalhe, #marcas-slider, #depoimentos-slider{
        display: none;
    }
    #marcas-mobile-slider, #depoimentos-mobile-slider{
        display: block;
    }
    .descricao{
        padding: 0px 20px;
        .cards{
            .card{
                margin: 20px 0;
            }
        }
    }
    .midle-banner{
        .al-container{
            padding: 20px;
            .texto{
                max-width: 100%;
            }
        }
    }
    .under-banner, .lideranca-banner{
       .al-container{
           padding: 20px;
       }
    }
    .depoimentos{
        &:after, &:before{
            display: none;
        }
    }
    .main-footer{
        .al-container{
            flex-wrap: wrap;
            .collum-footer{
                margin: 10px 0;
            }
        }
    }
}