.politica{
    h1{
        font-size: 40px;
        line-height: 50px;
        color: #295181;
        font-weight: 600;
        font-family: "Montserrat";
    }
    font-size: 19px;
    line-height: 27px;
    color: #393939;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
}