.single-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .logo{
    }
    .title{
        transition: all .5s;
        font-size: 42px;
        line-height: 50px;
        color: #295181;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .texto{
        font-size: 23px;
        line-height: 27px;
        color: #393939;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: left;
        padding: 30px;
        li{
            padding-top: 10px;
        }
    }   
    .links{
        display: flex;
        column-gap: 20px;
        a{
            li{
                transition: all .3s;
                display: flex;
                padding: 0;
                width: auto;
                font-size: 12px;
                line-height: 12px;
                color: #000000;
                font-weight: 600;
                font-family: "Montserrat";
                img{
                    height: 36px;
                    width: 36px;
                }
                &:hover{
                    transform: rotateY(360deg);
                }
            }
        }
    } 
    .break{
        height: 15px;
        width: 100%;
    }   
    .marca{
        .nome{
            margin-left: -15px;
            font-size: 24px;
            line-height: 31px;
            color: #353535;
            font-weight: 600;
            font-family: "Montserrat";
            align-items: center;
            display: flex;
            img{
                height: 15px;
                width: 15px;
                object-fit: contain;
            }
        }
        .open{
            display: none;
            h3, ul li{
                font-size: 16px;
                line-height: 31px;
                color: #353535;
                font-weight: 500;
                font-family: "Montserrat";
            }
            ul{
                li{
                    a{
                        padding: 0;
                        img{
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
        }
    } 
}